@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<img src="~/Images/imprint-2508603_1280.jpg" class="img-responsive" />

<h2>Welcome to The Event App</h2>

<p>Welcome to the Event App where we are at your service to help you organise your own private and public events.
    Celebrate your birthday in style with all your friends, organise your next Come Dine With Me dinner party, and launch your next EP all on the Event App. The Event App was established in 2020.
    </p>
